form(novalidate, ng-submit="cr.commit()")
  input.cr-cash-input(type="number", placeholder="0")
  input.cr-case-input(type="text", placeholder="Tab here to enter cash case")
  button.ng-hide(type="submit")
