doctype html
html(lang="en")
  head
    title Money Flow
    // vendor:css
    // endinject
    // inject:css
    // endinject
  body: .container
    header#header(role="banner")
      a.logo(href="/"): img(src="logo.png")
    #main
      .cash-register.cash-register-income: form(novalidate)
        input.cr-cash-input(type="number", placeholder="0")
        input.cr-case-input(type="text", placeholder="Tab here to enter income case")
      .cash-register.cash-register-outgo
        input.cr-cash-input(type="number", placeholder="0")
        input.cr-case-input(type="text", placeholder="Tab here to enter outgo case")
    footer#footer