doctype html
html(lang="en", ng-app="mf")
  head
    title Money Flow
    // vendor:css
    // endinject
    // inject:css
    // endinject
  body: .container
    header#header(role="banner")
      a.logo(href="/"): img(src="logo.png")
    #main
      mf-cash-register.cash-register-income
      mf-cash-register.cash-register-outgo
    footer#footer

    // vendor:js
    // endinject
    // inject:js
    // endinject